@import '../../Styles/variables';

.post.dashboard {
  .container {
    padding: 0;
    max-width: 940px;

    &>.row {
      .tabs-nav {

        background-color: black;

        .nav-link {
          font-size: 1.8rem;
          color: $lightText;
          padding: 1.2rem;

          &:hover {
            cursor: pointer;
          }

          &.active {
            background-color: $secAccent;
          }
        }
      }

      .tab-content {

        font-size: 1.8rem;
        padding: 3rem 1.5rem;


        .tab-pane.active {
          min-height: 50vh;
          display: flex;
          flex-direction: column;

          h2 {
            text-align: center;

          }

          form {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .row {
              margin-bottom: 1rem;
            }

            label {
              max-width: 150px;
            }

            input {
              font-size: 1.6rem;
            }
          }

          .user-data {
            margin-top: 4.5rem;

            &>div {
              display: flex;
              padding-bottom: 1.5rem;
              align-items: center;

              h5 {
                flex-basis: 25%;
                font-weight: 600;
              }

              img.avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
              }

              img.header {
                max-width: 200px;
                object-fit: cover;
              }
            }

            &>div>*:nth-child(2) {
              flex-basis: 50%;
            }
          }



        }
      }
    }

  }
}