//COLORS
$firstAcceny: #041C32;

$backgroudCol: #070f17;
$backgroundCol2: rgba(0, 0, 0, .5);
$backgroundColLight : #ededed;


$lightText: #f2f2f2;
$secAccent: #950101;

//SCROLL
$scrollCol: rgb(92, 92, 92);