.form {
  form {
    margin-top: 3rem;
  }

  form .row {
    align-items: center;
  }

  form>div {
    height: 65px;
  }

  label {
    white-space: nowrap;
    font-size: 1.8rem;
  }



  input,
  select {
    min-width: 200px;
    font-size: 1.4rem;

  }


}