@import '../../Styles/variables';

.single-campaign {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;


    p.full-desc {
      flex-basis: 65%;
    }

    .divider {
      height: 2px;
      width: 100%;
      background-color: $backgroundColLight;
      margin: 2rem;
    }

    .info {
      flex-basis: 30%;
      flex-direction: column;
      align-items: flex-start;

      .master {
        margin-bottom: 5%;

        .avatar {
          max-width: 40%;
        }

        h6 {
          margin-left: 6%;
        }
      }
    }
  }

  .join-form {
    .title {
      text-align: center;
    }
  }

}

@media screen and (min-width: 576px) {
  .single-campaign {
    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .divider {
        width: 2px;
        height: 100px;

      }
    }
  }
}