@import '../../Styles/variables';

#nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $backgroundCol2;
  width: 100%;
  min-height: 60px;
  z-index: 1000;


  .navbar-brand {
    flex-basis: 30%;
    color: $lightText
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .nav-link {
    color: $lightText;
  }

  .navbar-toggler-icon {
    color: $lightText;
  }
}