@import '../../Styles/variables';

#nav {
  background-color: $firstAcceny;
  width: 100%;
  min-height: 80px;

  .navbar-brand {
    flex-basis: 30%;
    color: $lightText
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .nav-link {
    color: $lightText;
  }

  .navbar-toggler-icon {
    color: $lightText;
  }
}