.modal-header {
  text-align: center;

  .modal-title {
    width: 100%;
    font-size: 2rem;
  }
}

.modal-dialog {
  overflow: hidden;

  .body-text {
    font-size: 1.6rem;
    text-align: center;
  }

  .modal-footer {
    justify-content: center;

    a {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}