@import '../../Styles/variables';
@import '../../Styles/mixins';

.page-header {
  @include flex-center();
  min-height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  position: relative;


  h1 {
    color: $lightText;
    z-index: 1
  }
}

.page-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.4;
}

.post .page-header {
  margin-bottom: 0px;
}