@import '../../Styles/variables';

.footer {
  min-height: 80px;
  color: $lightText;

  .divider {
    height: 2px;
    width: 50%;
    background-color: $secAccent;
    margin-left: auto;
    margin-right: auto;
  }
}