@import '../../Styles/variables';

.footer {
  min-height: 80px;
  color: $lightText;
  display: flex;
  flex-direction: column;

  .divider {
    height: 2px;
    width: 50%;
    background-color: $secAccent;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-content {
    flex-grow: 1;
    align-self: center;
    display: flex;
    align-items: center;

    p {
      opacity: .7;

    }
  }

}