.campaigns-cards {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 30px;
}

@media screen and (min-width: 576px) {
  .campaigns-cards {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 992px) {
  .campaigns-cards {
    grid-template-columns: repeat(3, auto);
  }
}