@import "~bootstrap/scss/bootstrap";
@import './Styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 4rem;
  font-family: 'Red Hat Display',
    sans-serif;
}

h2 {
  font-size: 3rem;
  font-family: 'Red Hat Display',
    sans-serif;
}

h3 {
  font-size: 2.5rem;
  font-family: 'Red Hat Display',
    sans-serif;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  font-size: 1.4rem;
}

a {
  font-size: 1.4rem;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: $scrollCol;
}

body::-webkit-scrollbar-thumb {
  background-color: $firstAcceny;
  border-radius: 100px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}


.btn {
  font-size: 1.4rem;
  padding: .6rem 1.5rem;
  font-weight: 600;
}

form {
  font-size: 1.6rem;
}

.full-width {
  @extend .btn;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $backgroudCol;
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
  padding: 0;
  margin-bottom: 50px;
}

.post .container {
  background-color: #fff;
  padding: 5%;
}

.container.form {
  max-width: fit-content;
}



@media screen and (min-width: 1200px) {
  .post .container {
    background-color: #fff;
    padding: 2rem 5rem;
  }
}