@import "~bootstrap/scss/bootstrap";
@import './Styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  font-size: 1.4rem;
}

a {
  font-size: 1.4rem;
}

.btn {
  font-size: 1.4rem;
  padding: .6rem 1.5rem;
  font-weight: 600;
}

.full-width {
  @extend .btn;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $backgroudCol;
}

.main-container {
  flex-grow: 1;
  padding: 0;
}

.post .container {
  background-color: #fff;
  padding: 5%;
}

@media screen and (min-width: 1200px) {
  .post .container {
    background-color: #fff;
    padding: 2rem 5rem;
  }
}